# Ignore the virtual environment folder
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
*/migrations/

# Database files
*.sqlite3

# Static and media files
staticfiles/
media/

# VS Code settings 
.vscode/