# Ignore the virtual environment folder
env/
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database files
*.sqlite3

# Static and media files
staticfiles/
media/

# VS Code settings 
.vscode/

# Ignore the .DS_Store file
.DS_Store

# Ignore the .env file
.env

# Ignore Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Ignore the .venv folder
.venv/

# Ignore temporary image folders
temp images/